table.tabledoc
{
    border:2px solid black;
}
td.tabledoc,tr.tabledoc
{
    border:1px solid black;
    padding: 10px
}

h2
{
    text-align: center;
}
h4
{
    font-size: larger;
}
p.text
{
    color: darkslategray;
}
p.table 
{
    font-weight: bold
}

td.first 
{
    text-align: right
}

body {
    margin: 0;
}

ul.ulmeny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li.limeny a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li.limeny a.active {
    background-color: darkcyan;
    color: white;
}

li.limeny a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.body
{
    margin-left:15%;
    padding:1px 16px;
    height:1000px;

}
div.inner
{
    margin-left:5%;
}